<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yaoli.dao.GoodsOriginMapper" >
  <resultMap id="BaseResultMap" type="com.yaoli.beans.Goods_origin" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="NVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name
  </sql>

  <select id="getAllGoods_origin" resultMap="BaseResultMap" >
    SELECT * FROM goods_origin
  </select>

  <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT * FROM goods_origin WHERE name = #{name,jdbcType=NVARCHAR}
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from goods_origin
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from goods_origin
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yaoli.beans.Goods_origin" >
    insert into goods_origin (name)
    values ( #{name,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yaoli.beans.Goods_origin" >
    insert into goods_origin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yaoli.beans.Goods_origin" >
    update goods_origin
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=NVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yaoli.beans.Goods_origin" >
    update goods_origin
    set name = #{name,jdbcType=NVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>