<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yaoli.dao.GroupMessageMapper" >
  <resultMap id="BaseResultMap" type="com.yaoli.beans.GroupMessage" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="areaid" property="areaid" jdbcType="INTEGER" />
    <result column="leader" property="leader" jdbcType="NVARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="cartype" property="cartype" jdbcType="NVARCHAR" />
    <result column="carnumber" property="carnumber" jdbcType="VARCHAR" />
    <result column="region" property="region" jdbcType="VARCHAR" />
    <result column="numberOfStation" property="numberofstation" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, areaid, leader, telephone, cartype, carnumber, region, numberOfStation
  </sql>

  <select id="selectByAreaId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from groupmessage
    where areaid = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByGroupName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from groupmessage
    where name = #{id,jdbcType=NVARCHAR}
  </select>

  <select id="selectAllGroupMessage" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from groupmessage
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from groupmessage
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from groupmessage
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yaoli.beans.GroupMessage" >
    insert into groupmessage (name, areaid,
      leader, telephone, cartype, 
      carnumber, region, numberOfStation
      )
    values  #{name,jdbcType=NVARCHAR}, #{areaid,jdbcType=INTEGER},
      #{leader,jdbcType=NVARCHAR}, #{telephone,jdbcType=VARCHAR}, #{cartype,jdbcType=NVARCHAR}, 
      #{carnumber,jdbcType=VARCHAR}, #{region,jdbcType=VARCHAR}, #{numberofstation,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yaoli.beans.GroupMessage" >
    insert into groupmessage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="areaid != null" >
        areaid,
      </if>
      <if test="leader != null" >
        leader,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="cartype != null" >
        cartype,
      </if>
      <if test="carnumber != null" >
        carnumber,
      </if>
      <if test="region != null" >
        region,
      </if>
      <if test="numberofstation != null" >
        numberOfStation,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="areaid != null" >
        #{areaid,jdbcType=INTEGER},
      </if>
      <if test="leader != null" >
        #{leader,jdbcType=NVARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="cartype != null" >
        #{cartype,jdbcType=NVARCHAR},
      </if>
      <if test="carnumber != null" >
        #{carnumber,jdbcType=VARCHAR},
      </if>
      <if test="region != null" >
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="numberofstation != null" >
        #{numberofstation,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yaoli.beans.GroupMessage" >
    update groupmessage
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=NVARCHAR},
      </if>
      <if test="areaid != null" >
        areaid = #{areaid,jdbcType=INTEGER},
      </if>
      <if test="leader != null" >
        leader = #{leader,jdbcType=NVARCHAR},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="cartype != null" >
        cartype = #{cartype,jdbcType=NVARCHAR},
      </if>
      <if test="carnumber != null" >
        carnumber = #{carnumber,jdbcType=VARCHAR},
      </if>
      <if test="region != null" >
        region = #{region,jdbcType=VARCHAR},
      </if>
      <if test="numberofstation != null" >
        numberOfStation = #{numberofstation,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yaoli.beans.GroupMessage" >
    update groupmessage
    set name = #{name,jdbcType=NVARCHAR},
      areaid = #{areaid,jdbcType=INTEGER},
      leader = #{leader,jdbcType=NVARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      cartype = #{cartype,jdbcType=NVARCHAR},
      carnumber = #{carnumber,jdbcType=VARCHAR},
      region = #{region,jdbcType=VARCHAR},
      numberOfStation = #{numberofstation,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>